{# category 4 #}
{% extends '/bundles/bruno/www/templates/generic/base.twig' %}

{% block content %}
<div id="begin_overview" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/bruno/www/scripts/content/overview.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/bruno/www/styles/content/overview.css') }}" type="text/css" />
</div>
<div id="overview_main" class="overthrow">
	<div id="overview_title" >
		Create fun and interactive presentations
	</div>
	<img id="overview_intro_img" src="{{ _filelatest('/bruno/www/images/content/overview/question/' ~ question ~ '.jpg') }}">
	<div id="overview_intro_div" >
		<iframe id="overview_intro_huawei_iframe" name="overview_intro_huawei_iframe" class="base_color_bg_main_gradient" frameborder="0" scrolling="no" src="{{ mobile_quiz }}"></iframe>
		<img id="overview_intro_huawei" src="{{ _filelatest('/bruno/www/images/content/overview/huawei.png') }}" />
	</div>
	<div id="overview_intro_title" >
	</div>
</div>
<div id="end_overview" class="visibility_hidden"></div>
{% endblock %}
