
<div id="-submenu_app_upload_function" class="base_optionTab submenu_bottom_cell">
</div>

<button id="-submenu_app_upload_function_button" class="submenu_bottom_valid"></button>

<div id="-submenu_app_upload_single" class="submenu_app_upload_single submenu_deco submenu_deco_info">
	<div class="submenu_app_upload_single_row">
		<span class="submenu_app_upload_progress">
			<div class="submenu_app_upload_progress_full" find="submenu_app_upload_progress_full">
				<div class="submenu_app_upload_progress_pc_text ellipsis">
					<span find="submenu_app_upload_progress_pc_text">0%</span><span class="isMobile"> (<span find="submenu_app_upload_name" ></span>)</span>
				</div>
				<div class="submenu_app_upload_progress_pc_text ellipsis">
					<img class="submenu_app_upload_single_cancel_image noMobile" find="submenu_app_upload_single_cancel" src="{{ _filelatest('/bruno/app/images/submenu/cancel.png') }}" alt="{{ _trans('app', 1, 4, 'html') }}{# Cancel #}" title="{{ _trans('app', 1, 4, 'html') }}{# Cancel #}" />
				</div>
				<div class="submenu_app_upload_progress_pc" find="submenu_app_upload_progress_pc"></div>
			</div>
		</span>
	</div>
	<div class="submenu_app_upload_single_row">
		<span class="submenu_app_upload_info">
			<span class="submenu_app_upload_preview noMobile" find="submenu_app_upload_preview_image"></span>
			<span>
				<div class="noMobile ellipsis" find="submenu_app_upload_name"></div>
				<div find="submenu_app_upload_size"></div>
				<div class="submenu_app_upload_info_destination" find="submenu_app_upload_where"></div>
			</span>
		</span>
	</div>
</div>

<div id="-submenu_app_upload_title" class="submenu_app_upload_single submenu_deco submenu_deco_info submenu_deco_fix">
	<div class="submenu_app_upload_single_row">
		<span class="submenu_app_upload_progress">
			<div class="submenu_app_upload_progress_full" find="submenu_app_upload_progress_full">
				<div class="submenu_app_upload_progress_pc_text ellipsis">
					<span find="submenu_app_upload_all_progress_pc_text">0%</span><span class=""> (<span find="submenu_app_upload_all_files" ></span>)</span>
				</div>
				<div class="submenu_app_upload_progress_pc" find="submenu_app_upload_all_progress_pc"></div>
			</div>
		</span>
	</div>
	<div class="submenu_app_upload_single_row">
		<span class="submenu_app_upload_info">
			<div class="noMobile">
				<span find="submenu_app_upload_all_speed"></span>
				<span class="floatright" find="submenu_app_upload_all_size"></span>
			</div>
			<div class="noMobile">
				<span find="submenu_app_upload_all_destination"></span>
				<span class="floatright" find="submenu_app_upload_all_time">00:00:00</span>
			</div>
			<div class="isMobile">
				<span find="submenu_app_upload_all_size"></span>
				<span class="floatright" find="submenu_app_upload_all_time">00:00:00</span>
			</div>
		</span>
	</div>
</div>

<div id="-submenu_app_upload_sub" class="submenu_app_upload_single submenu_deco submenu_deco_fix submenu_deco_info">
	<input find="submenu_app_upload_sub_index" type="hidden" value="-1" />
	<div class="submenu_app_upload_single_row">
		<span class="submenu_app_upload_progress">
			<div class="submenu_app_upload_progress_full" find="submenu_app_upload_progress_full">
				<div class="submenu_app_upload_progress_pc_text ellipsis">
					<span find="submenu_app_upload_progress_pc_text">0%</span>
				</div>
				<div class="submenu_app_upload_progress_pc_text ellipsis"></div>
				<div class="submenu_app_upload_progress_pc" find="submenu_app_upload_progress_pc"></div>
			</div>
		</span>
	</div>
	<div class="submenu_app_upload_single_row">
		<span class="submenu_app_upload_info">
			<div find="submenu_app_upload_size"></div>
			<div class="submenu_app_upload_preview" find="submenu_app_upload_preview_image"></div>
			<span>
				<div class="noMobile ellipsis" find="submenu_app_upload_name"></div>
				<div class="submenu_app_upload_info_destination" find="submenu_app_upload_where"></div>
			</span>
		</span>
	</div>
</div>

<img id="-submenu_app_upload_add_top" class="base_button submenu_app_upload_add_top maxTablet" src="{{ _filelatest('/bruno/app/images/submenu/upload/add_top.png') }}" />

<img id="-submenu_app_upload_add_corner" class="submenu_app_upload_add_corner minDesktop" src="{{ _filelatest('/bruno/app/images/submenu/upload/add_corner_02.png') }}" />
