{% extends '/bundles/bruno/quiz/templates/base.twig' %}
{% block frame %}
	<div id="begin_quiz_result_answer" class="visibility_hidden">
		<link rel="stylesheet" href="{{ _filelatest('/bruno/quiz/styles/quiz/result/answer.css') }}" type="text/css" />
		<script src="{{ _filelatest('/bruno/quiz/scripts/quiz/result/answer.js') }}" type="text/javascript"></script>
	</div>

	<div class="quiz_result_answer_top">
		<div>
			{{ _trans('quiz', 0, 5, 'html') }}{# And your answer is... #}
		</div>
		<div id="quiz_result_answer_count">3</div>
		{% if data_correct %}
			<div id="quiz_result_answer_answer">
				{{ _trans('quiz', 0, 6, 'html') }}{# correct! #}
			</div>
			<img id="quiz_result_answer_gif" src="{{ _filelatest('/bruno/quiz/images/gif/correct' ~ random(['01', '02']) ~ '.gif') }}" />
		{% else %}
			<div id="quiz_result_answer_answer">
				{{ _trans('quiz', 0, 10, 'html') }}{# not the one that I think is correct 😉 #}
			</div>
			<img id="quiz_result_answer_gif" src="{{ _filelatest('/bruno/quiz/images/gif/wrong' ~ random(['01', '02', '03', '04']) ~ '.gif') }}" />
		{% endif %}
	</div>

	<div class="quiz_result_answer_followus">
		<div find="ad_link">{{ data_ad }}</div>
		<img find="ad_link" class="quiz_result_answer_picture" src="{{ data_ad_pic|raw }}" />
	</div>

	<div id="quiz_result_answer_scan" class="{% if data_preview %}display_none{% endif %}">
		<img id="quiz_result_answer_scan_picture" src="{{ _filelatest('/bruno/quiz/images/home.png') }}" />
	</div>

	<div id="end_quiz_result_answer" class="visibility_hidden">
		<script type="text/javascript">
			var quiz_result_answer_count = 3;
			var quiz_result_answer_count_timer = false
			setTimeout(function(){
				quiz_result_answer_count_timer = setInterval(function(){
					quiz_result_answer_count--;
					if(quiz_result_answer_count==0){
						clearInterval(quiz_result_answer_count_timer);
						$("#quiz_result_answer_count").css("visibility", "hidden");
						$("#quiz_result_answer_answer, #quiz_result_answer_gif, #quiz_result_answer_scan").css("visibility", "visible");
					} else {
						$("#quiz_result_answer_count").html(quiz_result_answer_count);
					}
				}, 1000);
			}, 300);
		</script>
		{% if data_ad_link %}
			<script type="text/javascript">
				$('[find=ad_link]')
					.addClass('base_pointer')
					.on('click', function(){
						{% if data_statistics_id and data_statistics_md5 %}
							base_sendAction({id: parseInt({{ data_statistics_id }}, 10), md5: "{{ data_statistics_md5 }}"}, 'post', 'api/stats/adclick');
						{% endif %}
						window.open("{{ data_ad_link|raw }}", '_blank');
					});
			</script>
		{% endif %}
	</div>

	{% include '/bundles/bruno/quiz/templates/quiz/result/refresh.twig' %}

{% endblock %}
