{# category 5 #}
<div id="begin_account" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/bruno/www/scripts/generic/account.js') }}");
		JSfiles.later("{{ _filelatest('/bruno/www/scripts/integration/wechat.js') }}", 10);
		var account_link = [];
		account_link['root'] = wrapper_link['root'];
		account_link['home'] = wrapper_link['home'];
		account_link['info_integration'] = top.location.protocol+'//'+document.linckoFront+document.linckoBack+document.domain+"{{ urlFor('info_integration_get') }}";
		
		var account_account_force = false;
		{% if invitation_code or user_code %}
			account_account_force = true;
		{% endif %}
		var account_user_action = false;
		{% if user_action %}
			account_user_action = "{{ user_action }}";
		{% endif %}
		var account_youjian = false;
		{% if youjian %}
			account_youjian = "{{ youjian }}";
		{% endif %}
		var account_integration = {
			wechat: {
				base: true,
				dev_appid: "{{ integration_wechat_dev_appid }}",
				public_appid: "{{ integration_wechat_public_appid }}",
				href: top.location.protocol+'//'+document.linckoFront+document.linckoBack+document.domain+"{{ _filelatest('/bruno/www/styles/integration/wechat.css') }}",
				redirect: btoa(top.location.protocol+'//'+document.linckoFront+document.linckoBack+document.domain+"/integration/wechat/bruno/"+wrapper_timeoffset()),
			},
		};
		{% if integration_wechat_new %}
			{% set integration_connection_error = false %}
			account_integration.wechat.base = false;
		{% endif %}
		{% if integration_connection_error %}
			JSfiles.finish(function(){
				if(!account_integration.wechat.base){
					base_show_error("{{ _trans('web', 5, 25, 'js') }}", true); //You were not able to login using @@party~~.
				}
			});
		{% endif %}
		if(wrapper_hash){
			JSfiles.later("/hashtag/"+encodeURIComponent(wrapper_hash), 0);
		}
	</script>
	
	{# Integration - Wechat autolog redirection #}
	<script src="{{ _filelatest('/scripts/libs/integration/wxLogin.js') }}" type="text/javascript"></script>
	
	<link rel="stylesheet" href="{{ _filelatest('/bruno/www/styles/generic/account.css') }}" type="text/css" />
	<style>
		#account_integration_top_info > img {
			background-image: url("{{ _filelatest('/bruno/www/images/generic/base/generic/loading_bar.gif') }}");
		}
	</style>
</div>
<div id="account_wrapper" class="account_wrapper">
	<img class="account_close" id="account_close" src="{{ _filelatest('/bruno/www/images/generic/account/close.png') }}" alt="{{ _trans('web', 5, 10, 'html') }}{# Close #}" title="{{ _trans('web', 5, 10, 'html') }}{# Close #}" />

	<span id="account_language" class="display_none">
		<form id="account_translation" action="{{ _language_uri() }}" method="post">
			<select id="account_language_select" name="translation_language" class="account_language_select" onchange="$('#account_translation').submit();" >
				{% set language = _language() %}
				{% set languages = _languages_short('web') %}
				{% for key, value in languages %}
					<option value="{{ key }}" title="{{ value }}" {% if key == language %}selected="selected"{% endif %} >{{ value }}</option>
				{% endfor %}
			</select>
		</form>
	</span>

	<div>
		{% if domain_debug %}<div class="account_domain_debug">{{ domain_debug }}</div>{% endif %}
		<div class="account_tab" id="account_tab_lincko">
			<div>
				<div id="account_tab_lincko_back" class="display_none fa fa-angle-left"></div>Lincko
			</div>
		</div>
		<div id="account_error_mobile" class="maxMobile"></div>
		<div class="account_tab">
			<div class="account_trans" id="account_tab_joinus"><div class="account_tab_joinus">{{ _trans('web', 5, 1, 'html') }}{# Join Us #}</div></div>
			<div class="account_trans" id="account_tab_signin"><div class="account_tab_signin">{{ _trans('web', 5, 4, 'html') }}{# Sign In #}</div></div>
		</div>
		<div id="account_joinus_box" class="display_none">
			<form class="account_form" id="account_joinus_form" action="user/create" method="post" onsubmit="if(account_submit_running){return false;} return wrapper_sendForm(this, account_joinus_cb_success, account_joinus_cb_error, account_joinus_cb_begin, account_joinus_cb_complete);">
				<div class="account_joinus_box_div">
					<label class="account_label_inside selectable" for="account_joinus_email">
						<div id="account_joinus_email_format">{{ _trans('web', 5, 24, 'html') }}{# Please ensure your e-mail format is correct. #}</div>
						<span>{{ _trans('web', 5, 2, 'html') }}{# Email #}</span>
						<input type="email" id="account_joinus_email" name="email" value="{{ new_email|lower }}" class="selectable" />
					</label>
					<input type="password" name="foilautofill" value="" autocomplete="off" style="display:none;" />{# It avoids a behavior in Firefox which does not know Autocomplete tag, FF fulfill by default the first field #}
					<label class="account_label_inside" for="account_joinus_password">
						<span id="account_joinus_password_show" class="fa fa-eye" title="{{ _trans('web', 5, 23, 'html') }}{# Show password #}"></span>
						<span>{{ _trans('web', 5, 3, 'html') }}{# Password #}</span>
						<input type="password" id="account_joinus_password" name="password" value="" autocomplete="off" class="selectable" />
					</label>
					<span id="account_joinus_password_tooltip">{{ _trans('web', 5, 22, 'html') }}{# between 6 and 60 characters #}</span>
					<input type="hidden" id="account_joinus_timeoffset" name="timeoffset" value="0" autocomplete="off" />
					{% if wrapper_user_created %}
						<label class="account_label_inside" for="account_joinus_captcha">
							<img name="captcha" id="account_captcha" src="" title="{{ _trans('web', 5, 12, 'brut') }}{# Refresh the captcha #}"/>
							<span>{{ _trans('web', 5, 11, 'html') }}{# Captcha #}</span>
							<input type="text" id="account_joinus_captcha" name="captcha" value="" autocomplete="off" class="selectable" />
							<input type="hidden" name="captcha_name" value="account_joinus_form" autocomplete="off" />
						</label>
					{% endif %}
					<div id="account_joinus_submit">{{ _trans('web', 5, 1, 'html') }}{# Join Us #}</div>
					<img class="submit_progress_bar account_submit_progress" id="account_joinus_submit_progress" src="{{ _filelatest('/bruno/www/images/generic/base/generic/loading_bar.gif') }}"/>
				</div>
				<div id="account_joinus_tos_div" onclick="device_download('{{ terms }}', '_blank', 'tos.pdf');">
					{{ _trans('web', 5, 6, 'html') }}{# By clicking "Join us", you agree to our Terms of use and Privacy policy. #}
				</div>
			</form>
		</div>
		<div id="account_signin_box" class="display_none">
			<form class="account_form" id="account_signin_form" action="user/signin" method="post" onsubmit="if(account_submit_running){return false;} return wrapper_sendForm(this, account_signin_cb_success, account_signin_cb_error, account_signin_cb_begin, account_signin_cb_complete);">
				<div class="account_signin_box_div">
					<label class="account_label_inside" for="account_signin_email">
						<span>{{ _trans('web', 5, 2, 'html') }}{# Email #}</span>
						<input type="email" id="account_signin_email" name="email" value="{{ youjian }}" class="selectable" />
					</label>
					<input type="password" name="foilautofill" value="" autocomplete="off" style="display:none;" />{# It avoids a behavior in Firefox which does not know Autocomplete tag, FF fulfill by default the first field #}
					<label class="account_label_inside" for="account_signin_password">
						<span>{{ _trans('web', 5, 3, 'html') }}{# Password #}</span>
						<input type="password" id="account_signin_password" name="password" value="" autocomplete="off" class="selectable" />
					</label>
					<div id="account_signin_submit">{{ _trans('web', 5, 4, 'html') }}{# Sign In #}</div>
					<img class="submit_progress_bar account_submit_progress" id="account_signin_submit_progress" src="{{ _filelatest('/bruno/www/images/generic/base/generic/loading_bar.gif') }}"/>
				</div>
				<div class="account_signin_appendix">
					<label for="account_signin_remember" id="account_signin_remember_label">
						<input type="checkbox" id="account_signin_remember" name="remember" {% if jizhu %}checked="checked"{% endif %} />
						{{ _trans('web', 5, 5, 'html') }}{# Remember me #}
					</label>
					<div id="account_signin_forgot">
						{{ _trans('web', 5, 7, 'html') }}{# Forgot your password? #}
					</div>
				</div>
			</form>
		</div>

		<div id="account_forgot_box" class="display_none">
			<form class="account_form" id="account_forgot_form" action="user/forgot" method="post" onsubmit="if(account_submit_running){return false;} return wrapper_sendForm(this, account_forgot_cb_success, account_forgot_cb_error, account_forgot_cb_begin, account_forgot_cb_complete);">
				<div>
					<div class="account_forgot_top">
						{{ _trans('web', 5, 7, 'html') }}{# Forgot your password? #}
					</div>
					<label class="account_label_inside" for="account_forgot_email">
						<span>{{ _trans('web', 5, 2, 'html') }}{# Email #}</span>
						<input type="email" id="account_forgot_email" name="email" value="{{ youjian }}" class="selectable" />
					</label>
					<div id="account_forgot_submit">{{ _trans('web', 5, 18, 'html') }}{# Next #}</div>
					<img class="submit_progress_bar account_submit_progress" id="account_forgot_submit_progress" src="{{ _filelatest('/bruno/www/images/generic/base/generic/loading_bar.gif') }}"/>
				</div>
				<div id="account_forgot_info">
					{{ _trans('web', 5, 15, 'html') }}{# Enter the email address you use to sign in to Lincko. #}
				</div>
			</form>
		</div>

		<div id="account_reset_box" class="display_none">
			<form class="account_form" id="account_reset_form" action="user/reset" method="post" onsubmit="if(account_submit_running){return false;} if(account_reset_time_left_is_expired){ return false; } else { return wrapper_sendForm(this, account_reset_cb_success, account_reset_cb_error, account_reset_cb_begin, account_reset_cb_complete); }">
				<div>
					<div class="account_reset_top">
						{{ _trans('web', 5, 13, 'html') }}{# Reset your password #}
					</div>
					<input type="hidden" id="account_reset_email" name="email" value="" autocomplete="off" class="selectable" />
					<div class="account_reset_limit">
						<span>{{ _trans('web', 5, 20, 'html') }}{# Time left:  #}</span>
						<span id="account_reset_limit_time">0</span><span id="account_reset_limit_seconds">{{ _trans('web', 5, 21, 'html') }}{# s #}</span>
					</div>
					<label class="account_label_inside" for="account_reset_code">
						<span>{{ _trans('web', 5, 17, 'html') }}{# CODE received #}</span>
						<input type="number" id="account_reset_code" name="code" value="" autocomplete="off" class="selectable" />
					</label>
					<label class="account_label_inside" for="account_reset_password">
						<span>{{ _trans('web', 5, 19, 'html') }}{# Your new Password #}</span>
						<input type="password" id="account_reset_password" name="password" value="" autocomplete="off" class="selectable" />
					</label>
					<div id="account_reset_submit">{{ _trans('web', 5, 16, 'html') }}{# Confirm #}</div>
					<img class="submit_progress_bar account_submit_progress" id="account_reset_submit_progress" src="{{ _filelatest('/bruno/www/images/generic/base/generic/loading_bar.gif') }}"/>
				</div>
			</form>
		</div>

		<div id="account_integration_box" class="display_none account_form"> 
			<div>
				<div id="account_integration_top">
					<span id="account_integration_top_text"></span>
					<div id="account_integration_top_info"></div>
				</div>
			</div>
		</div>

		<div id="account_integration">
			<img id="account_integration_wechat" class="account_integration_icon" src="{{ _filelatest('/bruno/www/images/generic/account/integration/wechat.png') }}"/>
		</div>

		<div id="account_error" class="minMobileL"></div>
	</div>
</div>
<div id="end_account" class="visibility_hidden">
	<img id="-submit_progress_bar" class="submit_progress_bar" find="submit_progress_bar" src="{{ _filelatest('/bruno/app/images/generic/base/generic/loading_bar.gif') }}"/>
</div>
