{# category 1 #}
{% set route = _route_name() %}
<div id="begin_wphead" class="visibility_hidden">
<script>
	JSfiles.later("{{ _filelatest('/bruno/www/scripts/generic/wphead.js') }}");

	{% set language = _language() %}

	var dropmenu_list = [];
	var dropmenu_language_full = "{{ _language_full() }}";
	{% set languages = _languages('www') %}
	dropmenu_list['language'] = {
		{% for key, value in languages %}
			"{{ key }}": {
				"style": "radio",
				"title": "{{ value }}",
				"selected": {% if key == language %}true{% else %}false{% endif %},
				"action": function(){
					ChangeLanguage("{{ key }}");
				},
				"class": "wphead_dropmenu_second",
			},
		{% endfor %}
	};

	dropmenu_list['settings'] = {
		{% if user_id %}
			"myaccount": {
				"style": "button",
				"title": "{{ _trans('www', 1, 2, 'js') }}", //My account
				"action": function(){
					window.location.href = location.protocol+'//app.'+document.domainRoot;
				},
				"class": "wphead_dropmenu_first",
			},
		{% else %}
			"signin": {
				"style": "button",
				"title": "{{ _trans('www', 1, 1, 'js') }}", //Sign in or Register
				"action": function(){
					window.location.href = location.protocol+'//app.'+document.domainRoot;
				},
				"class": "wphead_dropmenu_first",
			},
		{% endif %}
	}

	var dropmenu_selected_img = new Image();
	dropmenu_selected_img.src = "{{ _filelatest('/bruno/www/images/generic/wphead/selected.png') }}";

	var wphead_active_current_menu = "{{ content }}";


</script>
<link rel="stylesheet" href="{{ _filelatest('/bruno/www/styles/generic/wphead.css') }}" type="text/css" />
</div>
<nav id="base_menu" class="base_menu wphead_nav">
	
	<div class="DIVcenter wphead_ul">

		<img id="wphead_menu" class="base_pointer maxTablet" src="{{ _filelatest('/bruno/www/images/generic/wphead/menu.png') }}" alt="{{ _trans('www', 1, 4, 'html') }}{# Menu #}" title="{{ _trans('www', 1, 4, 'html') }}{# Menu #}" />
		<div class="wphead_div floatleft wphead_title_div"><span class="table_cell_center" id="wphead_title"><span>{{ title }}</span></span></div>
		{% if user_id %}
			<div class="wphead_div floatright"><span class="table_cell_center" id="wphead_account"><span>{{ _trans('www', 1, 2, 'html') }}{# My account #}</span></span></div>
		{% else %}
			<div class="wphead_div floatright"><span class="table_cell_center" id="wphead_signin"><span>{{ _trans('www', 1, 1, 'html') }}{# Sign In or register#}</span></span></div>
		{% endif %}
		<div class="wphead_div floatright minDesktop">
			<span class="table_cell_center" id="wphead_language">
				<form id="wphead_translation" action="{{ _language_uri() }}" method="post">
					<img id="wphead_language_image" class="maxMobile" src="{{ _filelatest('/bruno/www/images/generic/wphead/earth16.png') }}" />
					<select id="wphead_language_select" name="translation_language" class="wphead_language_select" onchange="$('#wphead_translation').submit();" >
						{% set language = _language() %}
						{% set languages = _languages('www') %}
						{% for key, value in languages %}
							<option value="{{ key }}" title="{{ value }}" {% if key == language %}selected="selected"{% endif %} >{{ value }}</option>
						{% endfor %}
					</select>
				</form>
			</span>
		</div>
		<div class="wphead_div floatleft"><span class="table_cell_center table_cell_center_link minDesktop" id="wphead_bar_overview"><span>{{ _trans('www', 1, 6, 'html') }}{# Overview #}</span></span></div>

		{# toto => remove display_none #}
		<div class="display_none wphead_div floatleft"><span class="table_cell_center table_cell_center_link minDesktop" id="wphead_bar_features"><span>{{ _trans('www', 1, 5, 'html') }}{# Features #}</span></span></div>
		<div class="display_none wphead_div floatleft"><span class="table_cell_center table_cell_center_link minDesktop" id="wphead_bar_pricing"><span>{{ _trans('www', 1, 7, 'html') }}{# Pricing #}</span></span></div>
		<div class="display_none wphead_div floatleft"><span class="table_cell_center table_cell_center_link minDesktop" id="wphead_bar_about"><span>{{ _trans('www', 1, 8, 'html') }}{# About #}</span></span></div>
	</div>
</nav>
<div class="DIVcenter maxTablet overthrow" id="wphead_dropmenu"></div>
<div id="end_wphead" class="visibility_hidden"></div>
